a {
  text-decoration: none;
  color: rgba(231, 80, 145, 0.74);
}

.doc-icon :hover {
  opacity: 0.2;
  cursor: pointer;
}

a:hover {
  color: rgba(128, 128, 128, 0.199);
  cursor: pointer;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header h1 {
  align-self: flex-end;
  margin-bottom: 0px;
  font-family: Brush Script MT;
  font-weight: 800;
}

.icon-box {
  display: flex;
  flex-wrap: wrap;
}

.icon-box h3 {
  padding: 5px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
}

.bottom-align {
  align-self: end;
}

li {
  list-style: none;
  padding-right: 10px;
}

img {
  width: 100%;
  height: 100%;
}

.profile-pic {
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  border-color: grey;
  border-style: solid;
  border-width: 1px;
}

.about-me-container {
  background-color: rgba(124, 123, 118, 0.219);
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 50px;
  padding: 30px;
}

.about-me-container h3 {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.about-me-container p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 12px;
}

.contact-container {
  background-color: rgba(231, 80, 145, 0.74);
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 50px;
  padding-top: 50px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 15px;
}

.contact-container h3 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form button {
  justify-content: end;
}

form input,
form textarea {
  width: 200px;
  margin-bottom: 5px;
}

.modalContainer {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modalWrapper {
  width: 80%;
  height: 800px;
  background: #fff;
  color: #000;
  border-radius: 10px;
  position: relative;
  z-index: 10;
}

.closeBtn {
  border-radius: 4px;
  color: black;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
}

.closeBtn :hover {
  color: grey;
}

.modalTitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
}

.resume {
  height: 90%;
  width: 50%;
}

@media only screen and (max-width: 500px) {
  nav {
    justify-content: center;
  }
  .icon-box {
    display: none;
  }
}
